[user]
  name = Paavo Pere
  email = paavo@pere.fi
[github]
  user = paavopere
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  trustctime = false
  autocrlf = input
[alias]
  amend = commit --amend --reuse-message=HEAD
  br = branch
  ci = commit
  co = checkout
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
  p = push
  st = status
