[user]
  name = Paavo Pere
  email = paavo@pere.fi

[github]
  user = paavopere

[gitlab]
  user = ppere

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  trustctime = false
  autocrlf = input

[alias]
  amend = commit --amend --reuse-message=HEAD
  br    = branch
  ci    = commit
  co    = checkout
  l     = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
  ps    = push
  st    = status
  f     = fetch
  pl    = pull

[push]
  default = current
[credential]
	helper = cache --timeout=3600
