[init]
	defaultBranch = main
[user]
	email = paavo@pere.fi
	name = Paavo Pere
[github]
	user = paavopere
[gitlab]
	user = ppere
[core]
	editor = vim
	excludesfile = /Users/paavo.pere@futurice.com/.gitignore
[alias]
	please = push --force-with-lease
	lg = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
