rofi.theme: Arc-Dark
rofi.lines: 10
rofi.width: 50
rofi.modi: window,run,drun,clipboard:greenclip print
rofi.terminal: termite 
rofi.case-sensitive: false
rofi.eh: 2
rofi.padding: 800 
rofi.hide-scrollbar: true
