Xcursor.size: 16W
URxvt.urgentOnBell: true
URxvt.scrollBar: false
!! URxvt.font: xft:Source Code Pro:size=13:antialias=true,xft:DejaVu Sans Mono for Powerline:size=13
!! URxvt.font: xft:Bitstream Vera Sans Mono:size=13,xft:Twitter Color Emoji:size=13,xft:DejaVu Sans Mono for Powerline:size=13
URxvt.font: xft:SauceCodePro Nerd Font Mono,size=13
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,vtw:wheel,resize-font,selection-to-clipboard
URxvt.cursorBlink: 1
URxvt.cursorUnderline:  1

rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi
rofi.lines: 5
rofi.width: 100 
rofi.modi: window,run
rofi.terminal: urxvt 
rofi.case-sensitive: false
rofi.eh: 2
rofi.padding: 800 
rofi.hide-scrollbar: true
