Xcursor.size: 16W
URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt.font: xft:Monospace:size=14
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,vtw:wheel,resize-font,selection-to-clipboard
URxvt.cursorBlink: 1
URxvt.cursorUnderline:  1

!! ################################
!! Color settings (Solarized dark)
!! ################################

*background: #002b36
*foreground: #657b83
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1
 
!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi
rofi.lines: 5
rofi.width: 100 
rofi.modi: window,run
rofi.terminal: urxvt 
rofi.case-sensitive: false
rofi.eh: 2
rofi.padding: 800 
rofi.hide-scrollbar: true
