# "Plasma + i3, variant B"
# here, we have a shell script in Exec: 
# that script tries to specify KDEWM and run Plasma

[Desktop Entry]
Type=XSession
Exec=/usr/local/bin/plasma-i3-b.sh
DesktopNames=KDE
Name=plasma-i3-b
X-KDE-PluginInfo-Version=5.22.4
